$text-color: #ffffff;
$form-text-color: #797979;
$actions-items-color: #ffffff;
$brand-color-1: #81AFE1;
$brand-color-2: #ff5353;
$brand-color-3: #F3EED9; 

$main-padding: 3rem;
$main-top-padding: 2rem;

$todo-min-width: 25rem;
$main-font: "Neucha", cursive;
